/* List Container and List Items */
.list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;

  padding: 10px 0 10px 0;
}

.list-container {
  background-color: #94a1b2;
  flex: 0 0 15%;
  padding: 20px;
  color: white;
  border: 5px solid #7f5af0;
}

.primary-btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-family: sans-serif;
  background-color: #2cb67d;
  color: white;
}

.primary-btn:hover {
  cursor: pointer;
  background-color: #218159;
}

.danger-btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-family: sans-serif;
  background-color: #b6382c;
  color: white;
}

.danger-btn:hover {
  cursor: pointer;
  background-color: #7e0606;
}

.list-item-card {
  flex: 0 0 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  flex-flow: column nowrap;
  margin: 10px;
  border-radius: 5px;
  background-color: #16161a;
}

/* ListCard content */

.list-id {
  color: #fffffe;
  margin: 0;
}

.name {
  color: #2cb67d;
  margin: 0;
}

/* Loader styles */

.loader {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  font-weight: 200;
  opacity: 1;
  font-family: sans-serif;
  color: #7f5af0;
}
#loader {
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(220deg);
  }
}
#loader:after {
  animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content: "";
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
}
@keyframes animate2 {
  0% {
    box-shadow: inset #7f5af0 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #7f5af0 0 0 0 2px;
  }
  100% {
    box-shadow: inset #7f5af0 0 0 0 17px;
    transform: rotate(140deg);
  }
}

/* Error Hanlder Styles */
.error-handler-container {
  background-color: rgb(173, 46, 46);
  color: white;
  padding: 20px;
  border-radius: 5px;
}
